.recipe-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;
  }
  
  .recipe-form input,
  .recipe-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffaa01;
    border-radius: 5px;
    margin-top: 20px;

  }
  
  .recipe-form button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .recipe-form button:hover {
    background-color: #ff7300;
  }
  